/* Variables */

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$dark-gray: hsl(0, 1%, 44%);
$black: hsl(0, 0%, 8%);
$purple: hsl(259, 100%, 65%);

/* Document */

* {
    font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 10px;
}

body {
    background-color: $off-white;
    color: $dark-gray;
    height: 100%;
    margin: 2rem;
}

.page__container {
    position: relative;
    top: 10vh;
    margin-right: auto;
    margin-left: auto;
    background: $white;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1.5rem;
    border-bottom-right-radius: 8rem;
    max-width: 400px;
    box-shadow:0 4px 8px 0 $light-grey, 0 4px 8px 0 $light-grey;
}

/* Form Inputs */

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    margin-left: 0.5rem;
    margin-bottom: 0.75rem;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

input, .input__prefix {
    padding: 1rem;    
    font-size: 1.5rem;
    line-height: 1.5;
}

input {
    display: block;
    font-weight: 400;
    border: 1px solid $light-grey;
    border-radius: 0 4px 4px 0;
    &:hover, &:focus-visible, &:focus-within, &:active {
        outline: none;
    }
}

.input__prefix {
    font-weight: 700;
    border-top: 1px solid $light-grey;
    border-left: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    border-radius: 4px 0 0 4px;
    width: 4rem;
    display: flex;
    justify-content: center;
    background-color: $light-grey;
}

/* Portions */

.portions__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portion {
    margin: 0 0.5rem;
    color: $purple;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 2rem; 
    span:last-child {
        font-size: 2rem;
        font-weight: 900;
        color: $black;
        font-size: 4rem;
    }
}