/* Variables */

$dark: #1a102e;
$green-1: #249833;
$green-2: #7adf10;
$light: #E4E8ED;
$input-border: 2px solid $green-1;

/* Document */

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 10px;
}

body {
    background-color: $dark;
    color: $light;
}

.page__container {
    padding: 4rem 2rem;
    display: flex;
    // flex-direction: row;
    // gap: 8rem;

    // form, .portions__container {
    //     margin: auto;
    //     width: 50%;
    //     height: 100%;
    // }
    flex-direction: column;
    gap: 4rem;
    form, .portions__container {
        height: 35vh;
    }
}

/* Form Inputs */

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

label {
    margin-left: 0.5rem;
    margin-bottom: 0.75rem;
    display: inline-block;
    font-size: 1.25rem;
}

input, .input__prefix {
    padding: 1rem;    
    font-size: 1.5rem;
    line-height: 1.5;
}

input {
    display: block;
    width: 100%;
    font-weight: 400;
    border: $input-border;
    border-radius: 0 4px 4px 0;
    background-color: $dark;
    color: $light;
    &:hover, &:focus-visible, &:focus-within, &:active {
        outline: none;
        filter: brightness(1.15);
    }
}

.input__prefix {
    font-weight: 500;
    border-top: $input-border;
    border-left: $input-border;
    border-bottom: $input-border;
    border-radius: 4px 0 0 4px;
    width: 4rem;
    display: flex;
    justify-content: center;
    background-color: $green-1;
    color: $light;
}

/* Portions */

.portions__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.portion {
    padding: 1rem;
    border: 1px solid $light;
    background-color: $green-1;
    color: $dark;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span:last-child {
        font-size: 2rem;
        font-weight: 900;
    }
}